<div class="container">
  <h1 class="text-center">Create Timeing Slots</h1>
  <div class="form-row">
    <div class="form-group col-sm-3">
      <label for="daylight">Day</label>
      <select id="daylight" class="form-control" name="daylight">
        <option select disabled>Choose...</option>
        <option>Day</option>
      </select>
    </div>
    <div class="form-group col-sm-3">
      <label for="room">Room</label>
      <select id="room" class="form-control" name="room">
        <option select disabled>Choose...</option>
        <option>Room</option>
      </select>
    </div>
    <div class="form-group col-sm-3">
      <label for="clock">Time</label>
      <select id="clock" class="form-control" name="clock">
        <option select disabled>Choose...</option>
        <option>Day</option>
      </select>
    </div>
    <div class="form-group col-sm-3">
      <label for="Select">Add the timeing</label>
      <button class="btn btn-primary form-control" id="select" name="select">Select</button>
    </div>
  </div>
</div>
